html, body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #1d1d1d;
  color: #7D7D7D;
}

a {
  color: #8F36C6;
}

.tile-container {
  width: 320px;
  margin: auto;
}

/* .tile-container .tiles {
  float: left;
  margin: 25px;
  width: 320px;
  height: 320px;
  background-color: #efefef;
} */

.date {
  font-weight: 200;
}

#timely {
  margin: auto;
  width: 320px;
}

#credits {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  text-align: center;
  height: 50px;
}

#links {
  width: 320px;
  text-align: center;
  height: 120px;
  margin: 10rem auto 0;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: #E33C74;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  padding: 0.75rem 1rem;
}

/* #example {
  width: 320px;
  height: 320px;
  background-position: 570px 460px;
  background-image: url(../tmp/apple-dark-watch.gif);
} */
