html, body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #1d1d1d;
  color: #7D7D7D;
}

a {
  color: #8F36C6;
}

.tile-container {
  width: 320px;
  margin: auto;
}

/* .tile-container .tiles {
  float: left;
  margin: 25px;
  width: 320px;
  height: 320px;
  background-color: #efefef;
} */

.date {
  font-weight: 200;
}

#timely {
  margin: auto;
  width: 320px;
}

#credits {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

/* #example {
  width: 320px;
  height: 320px;
  background-position: 570px 460px;
  background-image: url(../tmp/apple-dark-watch.gif);
} */
